<a href="https://colab.research.google.com/github/beamscource/colab_notebooks/blob/main/programming_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a summary of the following resources:

- https://learning.edx.org/course/course-v1:MITx+6.00.1x_9+2T2016/home
- https://www.amazon.de/Python-Crash-Course-Hands-Project-Based/
- https://www.amazon.de/dp/1593279663/
- https://www.amazon.de/Serious-Python-Black-Belt-Deployment-Scalability/dp/1593278780

# Core language

## 1. Primitive Datatypes and Operators

**Strings and string methods**

Strings are quite simple at first glance, but you can use them in many different ways. A string is simply a series of characters. Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings. This flexibility allows you to use quotes and apostrophes within your strings.

In [ ]:
# Strings are created with " or '
"This is a string."
'This is also a string.'

# Strings can be added too! But try not to do this.
"Hello " + "world!"  # => "Hello world!"
# String literals (but not variables) can be concatenated without using '+'
"Hello " "world!"    # => "Hello world!"

# A string can be treated like a list of characters
"This is a string"[0]  # => 'T'

# You can find the length of a string
len("This is a string")  # => 16

# .format can be used to format strings, like this:
"{} can be {}".format("Strings", "interpolated")  # => "Strings can be interpolated"

# You can repeat the formatting arguments to save some typing.
"{0} be nimble, {0} be quick, {0} jump over the {1}".format("Jack", "candle stick")
# => "Jack be nimble, Jack be quick, Jack jump over the candle stick"

# You can use keywords if you don't want to count.
"{name} wants to eat {food}".format(name="Bob", food="lasagna")  # => "Bob wants to eat lasagna"

# for Python 2.5 and below, you can also use the old style of formatting:
"%s can be %s the %s way" % ("Strings", "interpolated", "old")  # => "Strings can be interpolated the old way"

# You can also format using f-strings or formatted string literals (in Python 3.6+)
name = "Reiko"
f"She said her name is {name}." # => "She said her name is Reiko"
f"{name} is {len(name)} characters long." # => "Reiko is 5 characters long."

In [ ]:
# reverse a string
string = 'This is also a string.'
string[::-1]
''.join(reversed(string))

In [ ]:
# string methods
name = "Ada Lovelace"
print(name.upper())
print(name.lower())
print(name.title())
print(name.split())
print(list(name))

ADA LOVELACE
ada lovelace
Ada Lovelace
['Ada', 'Lovelace']
['A', 'd', 'a', ' ', 'L', 'o', 'v', 'e', 'l', 'a', 'c', 'e']

In [ ]:
print("\tPython")
print('   Python  '.rstrip())
print('   Python  '.strip())

	Python
   Python
Python

In [ ]:
print("I'm Python. Nice to meet you!")  # => I'm Python. Nice to meet you!

# By default the print function also prints out a newline at the end.
# Use the optional argument end to change the end string.
print("Hello, World", end="!")  # => Hello, World!

# Simple way to get input data from console
input_string_var = input("Enter some data: ") # Returns the data as a string
# In earlier versions of Python, input() method was named as raw_input()

**Integers**

Numbers are used quite often in programming to keep score in games, rep-
resent data in visualizations, store information in web applications, and so on. Python treats numbers in several different ways, depending on how they
are being used.

In [ ]:
# math on scalars
1 + 1   # => 2
8 - 1   # => 7
10 * 2  # => 20
35 / 5  # => 7.0

# Integer division rounds down for both positive and negative numbers.
5 // 3       # => 1
-5 // 3      # => -2
5.0 // 3.0   # => 1.0 # works on floats too
-5.0 // 3.0  # => -2.0

# The result of division is always a float
10.0 / 3  # => 3.3333333333333335

# Modulo operation
7 % 3  # => 1

# Exponentiation (x**y, x to the yth power)
2**3  # => 8

# Enforce precedence with parentheses
(1 + 3) * 2  # => 8

8

**Floats**

Python calls any number with a decimal point a float. This term is used in
most programming languages, and it refers to the fact that a decimal point
can appear at any position in a number. Every programming language must
be carefully designed to properly manage decimal numbers so numbers
behave appropriately no matter where the decimal point appears.

In [ ]:
0.1 + 0.1
0.2 + 0.2
2 * 0.1
2 * 0.2

0.4

In [ ]:
# https://www.geeksforgeeks.org/floor-ceil-function-python/
print(round(2.7468, 2))
print(round(2.7468))

2.75
3

In [ ]:
str(10)

'10'

## 2. Variables and Collections

**Variable assignment**

Every variable holds a value, which is the information associated with that variable.

In [ ]:
# There are no declarations, only assignments.
some_var = 5

# Accessing a previously unassigned variable is an exception.
# See Control Flow to learn more about exception handling.
some_unknown_var  # Raises a NameError

When you’re using variables in Python, you need to adhere to a few rules and guidelines.

- Variable names can contain only letters, numbers, and underscores. They can start with a letter or an underscore, but not with a number. For instance, you can call a variable message_1 but not 1_message.

- Spaces are not allowed in variable names, but underscores can be used to separate words in variable names.

- Avoid using Python keywords and function names as variable names; that is, do not use words that Python has reserved for a particular programmatic purpose, such as the word print.

- Variable names should be short but descriptive. For example, name is better than n, student_name is better than s_n, and name_length is better than length_of_persons_name.

**Lists**

A list is a collection of items in a particular order. You can make a list that
includes the letters of the alphabet, the digits from 0–9, or the names of
all the people in your family. You can put anything you want into a list, and the items in your list don’t have to be related in any particular way.

Because a list usually contains more than one element, it’s a good idea to make the name of your list plural, such as letters, digits, or names.

In Python, square brackets ([]) indicate a list, and individual elements
in the list are separated by commas.

In [ ]:
# lists store sequences
exp_list = [] # empty list
other_exp_list = [4, 5, 6]

Adding separate elements to a list or expanding the original list:

In [ ]:
# add stuff to the end of a list
exp_list.append(1)    # exp_list is now [1]
exp_list.append(2)    # exp_list is now [1, 2]

# remove the last element (you can use the value of that element)
removed_element = exp_list.pop()        # => 2 and exp_list is now [1]

# delete arbitrary elements without using them anymore
del exp_list[2]

Sometimes you won’t know the position of the value you want to remove from a list. If you only know the value of the item you want to remove, you can use the remove() method.

In [ ]:
# remove first occurrence of a value
removed_item = other_exp_list.remove(5)  # exp_list is now []
other_exp_list.remove(5)  # Raises a ValueError as 5 is not in the exp_list

In [ ]:
# Insert an element at a specific index
exp_list.insert(1, 2)  # exp_list is now [2]

# Get the index of the first item found matching the argument
exp_list.index(2)  # => 1
exp_list.index(4)  # Raises a ValueError as 4 is not in the list

Lists are ordered collections, so you can access any element in a list by telling Python the position, or index, of the item desired. To access an element in a list, write the name of the list followed by the index of the item enclosed in square brackets.

In [ ]:
# indexing and slicing on lists
exp_list[0] # first element
exp_list[-1] # last element

To make a slice, you specify the index of the first and last elements you want to work with. As with the range() function, Python stops one item before the second index you specify.

In [ ]:
exp_list[1:3]
exp_list[2:]
exp_list[:3]
# exp_list[start:end:step]
exp_list[::2] # Select every second entry

#reverse a list
exp_list[::-1]

# Looking out of bounds is an IndexError
exp_list[4]  # Raises an IndexError

Keep in mind that whenever you want to access the last item in a list you use the index -1. A negative index returns an element at a certain distance from the end of a list; therefore, you can output any slice from the end of a list.

In [ ]:
other_exp_list[-1:]

[6]

Sometimes you’ll want to preserve the original order of your list, and other times you’ll want to change the original order.

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [ ]:
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

To maintain the original order of a list but present it in a sorted order, you can use the sorted() function. The sorted() function lets you display your list in a particular order but doesn’t affect the actual order of the list.

In [ ]:
print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

Here is the original list:
['toyota', 'subaru', 'bmw', 'audi']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

To reverse the original order of a list, you can use the reverse() method.

In [ ]:
cars.reverse()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

To copy a list, you can make a slice that includes the entire original list by omitting the first index and the second index ([:]).

In [ ]:
# Make a one layer deep copy
exp_list2 = exp_list[:]

# You can add lists
exp_list + other_list

# Concatenate lists with "extend()"
exp_list.extend(other_list)

# Check for existence in a list with "in"
1 in exp_list

len(exp_list)

**For-loops**

You’ll often want to run through all entries in a list, performing the same task with each item.

In [ ]:
# iterate over list elements
for animal in ["dog", "cat", "mouse"]:
    print(f"{animal} is a mammal") # f-string

text = 'this is a longer text \n with several lines \n attached to it'

# define an index in the loop
for i, line in enumerate(text.split('\n')):
    print(line)

# skip remaining iterations in a loop or skip to the next iteration
# depending on a condition
for i, line in enumerate(text.split('\n')):
    print(line)
    if len(line.split()) == 3:
        break
        #continue

# manipulate each element within a loop
string = 'Das ist ein.'
for word in string:
    print(word.upper())

In [ ]:
for i in range(10):
    print(i)

print('\n')
# range(lower, upper, step)
for i in range(4, 8, 2):
    print(i)

In [ ]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

**List comprehensions**

 A list comprehension combines the for loop and the creation of new elements into one line, and automatically appends each new element.

In [ ]:
# list_comprehension
new_list = [e for e in numbers if e % 2 == 0]
print(new_list)

[2, 4]

Open a set of square brackets and define the expression for the values you want to store in the new list. In this example the expression is e**2, which raises the element to the second power. Then, write a for loop to generate the numbers you want to feed into the expression, and close the square brackets.

In [ ]:
new_list = [e**2 for e in numbers]
print(new_list)

[1, 4, 9, 16, 25]

In [ ]:
# example of combining a loop with a list comprehension
exclude_list = [':', '|', '==']

for element in exclude_list:
    recognizer_output = [line for line in recognizer_output \
    if (element not in line)]

**Tuples**

Sometimes you’ll want to create a list of items that cannot change. Tuples allow you to do just that. Python refers to values that cannot change as *immutable*, and an immutable list is called a tuple.

A tuple looks just like a list except you use parentheses instead of square brackets.

In [ ]:
# Tuples are like lists but are immutable.
tup = (1, 2, 3)
tup[0]      # => 1
tup[0] = 3  # Raises a TypeError

TypeError: ignored

In [ ]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
print(type((1)))   # => <class 'int'>
print(type((1,)))  # => <class 'tuple'>
print(type(()))    # => <class 'tuple'>

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# You can do most of the list operations on tuples too
print(len(tup))         # => 3
print(tup + (4, 5, 6))  # => (1, 2, 3, 4, 5, 6)
print(tup[:2])          # => (1, 2)
print(2 in tup)         # => True

3
(1, 2, 3, 4, 5, 6)
(1, 2)
True

Although you can’t modify a tuple, you can assign a new value to a variable that holds a tuple.

**Dictionaries**

A dictionary in Python is a collection of key-value pairs. Each key is connected to a value, and you can use a key to access the value associated with that key. A key’s value can be a number, a string, a list, or even another dictionary.

In [ ]:
# Dictionaries store mappings from keys to values
empty_dict = {}
my_dict = {"one": 1, "two": 2, "three": 3}

In [ ]:
# keys for dictionaries have to be immutable to ensure that
# the key can be converted to a constant hash value for quick access
# immutable types include ints, floats, strings, an tuples
invalid_dict = {[1,2,3]: "123"}  # => Raises a TypeError: unhashable type: 'list'
valid_dict = {'example_key':[1,2,3]}   # Values can be of any type, however.

In [ ]:
# accessing values
my_dict["one"]  # => 1

# Get all keys as an iterable with "keys()"
list(my_dict.keys())  # => ["three", "two", "one"] in Python <3.7
list(my_dict.keys())  # => ["one", "two", "three"] in Python 3.7+
list(my_dict.values())  # => [3, 2, 1]  in Python <3.7
list(my_dict.values())  # => [1, 2, 3] in Python 3.7+

[1, 2, 3]

In [ ]:
# extract all values
value_list = list(my_dict.values())

In [ ]:
# Remove keys from a dictionary with del
del my_dict["one"]  # deletes the key "one" from filled dict

# insert into dictionaries
my_dict.update({"key_3":3})
my_dict['key_4'] = 6

In [ ]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
my_dict.setdefault("five", 5)  # my_dict["five"] is set to 5
my_dict.setdefault("five", 6)  # my_dict["five"] is still 5

# Check for existence of keys in a dictionary with "in"
"one" in my_dict  # => True
1 in my_dict      # => False

# Looking up a non-existing key is a KeyError
my_dict["four"]  # KeyError

# Use "get()" method to avoid the KeyError
my_dict.get("one")      # => 1
my_dict.get("four")     # => None

# The get method supports a default argument when the value is missing
my_dict.get("one", 4)   # => 1
my_dict.get("four", 4)  # => 4

# From Python 3.5 you can also use the additional unpacking options
{'a': 1, **{'b': 2}}  # => {'a': 1, 'b': 2}
{'a': 1, **{'a': 2}}  # => {'a': 2}

In [ ]:
my_dict = {'key_1':'value_1',
            'key_2':'value_2'}

# iterate through keys
for key in my_dict.keys():
    if key == 'key_2':
        my_dict[key] = 'new_value'

# sorted keys
for key in sorted(my_dict.keys()):
    if key == 'key_2':
        my_dict[key] = 'new_value'

# loop over values directly
for value in sorted(my_dict.values()):
    if value == 'value':
        print(value)

# iterate through keys and values at the same time
for key, val in my_dict.items():
    print(my_dict[key])

# loop through two dicts at once with zip
for (key_a, value_a), (key_b, value_b) in zip(dict_a.items(), \
            dict_b.items()):
  pass

In [ ]:
# list comprehension works for dicts
{x: x**2 for x in range(5)}  # => {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

You can nest dictionaries in a list or lists in dictionaries.

In [ ]:
from collections import OrderedDict

OrderedDict is a great data structure to be aware of because it combines the main benefit of lists (retaining your original order) with the main feature of dictionaries (connecting pieces of information).

**Set**

A set is similar to a list except that each item in the set must be unique:

In [ ]:
# Sets store ... well sets
empty_set = set()
# Initialize a set with a bunch of values. Yeah, it looks a bit like a dict. Sorry.
some_set = {1, 1, 2, 2, 3, 4}  # some_set is now {1, 2, 3, 4}

# Similar to keys of a dictionary, elements of a set have to be immutable.
invalid_set = {[1], 1}  # => Raises a TypeError: unhashable type: 'list'
valid_set = {(1,), 1}

# Add one more item to the set
filled_set = some_set
filled_set.add(5)  # filled_set is now {1, 2, 3, 4, 5}
# Sets do not have duplicate elements
filled_set.add(5)  # it remains as before {1, 2, 3, 4, 5}

# Do set intersection with &
other_set = {3, 4, 5, 6}
filled_set & other_set  # => {3, 4, 5}

# Do set union with |
filled_set | other_set  # => {1, 2, 3, 4, 5, 6}

# Do set difference with -
{1, 2, 3, 4} - {2, 3, 5}  # => {1, 4}

# Do set symmetric difference with ^
{1, 2, 3, 4} ^ {2, 3, 5}  # => {1, 4, 5}

# Check if set on the left is a superset of set on the right
{1, 2} >= {1, 2, 3} # => False

# Check if set on the left is a subset of set on the right
{1, 2} <= {1, 2, 3} # => True

# Check for existence in a set with in
2 in filled_set   # => True
10 in filled_set  # => False

When you wrap set() around a list that contains duplicate items, Python identifies the unique items in the list and builds a set from those items.

**Unpacking collections into variables**

In [ ]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3
print(a)
print(b)
print(c)

1
2
3

In [ ]:
# You can also do extended unpacking
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4
print(a)
print(b)
print(c)

1
[2, 3]
4

In [ ]:
d, e, f = 4, 5, 6  # tuple 4, 5, 6 is unpacked into variables d, e and f
# respectively such that d = 4, e = 5 and f = 6
print(type(d))
print(e)
print(f)

<class 'int'>
5
6

In [ ]:
# Now look how easy it is to swap two values
e, d = d, e  # d is now 5 and e is now 4
print(d)
print(e)

5
4

## 3. Control Flow and Iterables

**If-else statements and comparisons**

Programming often involves examining a set of conditions and deciding which action to take based on those conditions.

In [ ]:
string = 'Das ist ein Satz.'

if len(string) > 15:
    print('Satz ist länger als 15 Buchstaben.')
elif len(string) < 15:
    print('Satz ist kürzer als 15 Buchstaben.')
else:
    print('Es gibt keinen String')

f'"{string}" is {len(string)} characters long.'

At the heart of every if statement is an expression that can be evaluated as True or False and is called a conditional test. Python uses the values True and False to decide whether the code in an if statement should be executed. If a conditional test evaluates to True, Python executes the code following the if statement. If the test evaluates to False, Python ignores the code following the if statement.

In [ ]:
# Equality is ==
1 == 1  # => True
2 == 1  # => False

# Inequality is !=
1 != 1  # => False
2 != 1  # => True

# More comparisons
1 < 10  # => True
1 > 10  # => False
2 <= 2  # => True
2 >= 2  # => True

# Seeing whether a value is in a range
1 < 2 and 2 < 3  # => True
2 < 3 and 3 < 2  # => False

1 < 2 or 2 < 3  # => True
2 < 3 or 3 < 2  # => True
# Chaining makes this look nicer
1 < 2 < 3  # => True
2 < 3 < 2  # => False

# (is vs. ==) is checks if two variables refer to the same object, but == checks
# if the objects pointed to have the same values.
a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = a             # Point b at what a is pointing to
b is a            # => True, a and b refer to the same object
b == a            # => True, a's and b's objects are equal
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]
b is a            # => False, a and b do not refer to the same object
b == a            # => True, a's and b's objects are equal

In [ ]:
# if can be used as an expression
"yahoo!" if 3 > 2 else 2  # => "yahoo!"

In [ ]:
if x in some_list:
  pass
if x not in some_list:
  pass

**Booleans**

In [ ]:
# Boolean values are primitives (Note: the capitalization)
True
False

# negate with not
not True   # => False
not False  # => True

# Boolean Operators
# Note "and" and "or" are case-sensitive
True and False  # => False
False or True   # => True

# True and False are actually 1 and 0 but with different keywords
True + True # => 2
True * 8    # => 8
False - 5   # => -5

# Comparison operators look at the numerical value of True and False
0 == False  # => True
1 == True   # => True
2 == True   # => False
-5 != False # => True

# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned
# Don't mix up with bool(ints) and bitwise and/or (&,|)
bool(0)     # => False
bool(4)     # => True
bool(-6)    # => True
0 and 2     # => 0
-5 or 0     # => -5

In [ ]:
# None is an object
None  # => None

# Don't use the equality "==" symbol to compare objects to None
# Use "is" instead. This checks for equality of object identity.
"etc" is None  # => False
None is None   # => True

# None, 0, and empty strings/lists/dicts/tuples all evaluate to False.
# All other values are True
bool(0)   # => False
bool("")  # => False
bool([])  # => False
bool({})  # => False
bool(())  # => False

**While-loops and Match statement**

In [ ]:
i = 6
while i > 3:
    print(i)
    i -= 1

This works like switch in Matlab:

In [ ]:
# starting with python 3.10
http_code = "418"
match http_code:
    case "200":
        print("OK")
        do_something_good()
    case "404":
        print("Not Found")
        do_something_bad()
    case "418":
        print("I'm a teapot")
        make_coffee()
    case _:
        print("Code not found")

**Iterables and generators**

In [ ]:
# Python offers a fundamental abstraction called the Iterable.
# An iterable is an object that can be treated as a sequence.
# The object returned by the range function, is an iterable.

filled_dict = {"one": 1, "two": 2, "three": 3}
our_iterable = filled_dict.keys()
print(our_iterable)  # => dict_keys(['one', 'two', 'three']). This is an object that implements our Iterable interface.

# We can loop over it.
for i in our_iterable:
    print(i)  # Prints one, two, three

# However we cannot address elements by index.
our_iterable[1]  # Raises a TypeError

# An iterable is an object that knows how to create an iterator.
our_iterator = iter(our_iterable)

# Our iterator is an object that can remember the state as we traverse through it.
# We get the next object with "next()".
next(our_iterator)  # => "one"

# It maintains state as we iterate.
next(our_iterator)  # => "two"
next(our_iterator)  # => "three"

# After the iterator has returned all of its data, it raises a StopIteration exception
next(our_iterator)  # Raises StopIteration

# You can grab all the elements of an iterator by calling list() on it.
list(filled_dict.keys())  # => Returns ["one", "two", "three"]

# Generators are memory-efficient because they only load the data needed to
# process the next value in the iterable. This allows them to perform
# operations on otherwise prohibitively large value ranges.
# `range` is a generator.

# Every generator is an iterator, but not vice versa.

# Yield is a keyword in Python that is used to return from a function without
# destroying the states of its local variable and when the function is called,
# the execution starts from the last yield statement. Any function that contains
# a yield keyword is termed a generator. 

def double_numbers(iterable):
    for i in iterable:
        yield i + i

# Just as you can create a list comprehension, you can create generator
# comprehensions as well.
values = (-x for x in [1,2,3,4,5])
for x in values:
    print(x)

# e.g.
my_dict.iteritems()
pd.iterrows()

**Exceptions**

When you think an error may occur, you can write a try-except block to handle the exception that might be raised. You tell Python to try running some code, and you tell it what to do if the code results in a particular kind of exception.

In [ ]:
# Handle exceptions with a try/except block
try:
    # Use "raise" to raise an error
    raise IndexError("This is an index error")
except IndexError as e:
    pass                 # Pass is just a no-op. Usually you would do recovery here.
except (TypeError, NameError):
    pass                 # Multiple exceptions can be handled together, if required.
else:                    # Optional clause to the try/except block. Must follow all except blocks
    print("All good!")   # Runs only if the code in try raises no exceptions
finally:                 #  Execute under all circumstances
    print("We can clean up resources here")

# Instead of try/finally to cleanup resources you can use a with statement
with open("myfile.txt") as f:
    for line in f:
        print(line)

Handling errors correctly is especially important when the program has more work to do after the error occurs.

## 4. Functions

You can use positional arguments, which need to be in the same order the parameters were written; keyword arguments, where each argument consists of a variable name and a value; and lists and dictionaries of values.

In [ ]:
def add(x, y):
    return x + y 

# Calling functions with parameters
add(5, 6)  # => prints out "x is 5 and y is 6" and returns 11

11

In [ ]:
# Another way to call functions is with keyword arguments
add(y=6, x=5)  # Keyword arguments can arrive in any order.

11

In [ ]:
# You can define functions that take a variable number of
# positional arguments which are compiled as a tuple
def varargs(*args):
    for arg in args:
      print(arg**4)

varargs(1, 2, 3)

1
16
81

A keyword argument is a name-value pair that you pass to a function. When writing a function, you can define a default value for each parameter. If an argument for a parameter is provided in the function call, Python uses the argument value. If not, it uses the parameter’s default value.

In [ ]:
# You can define functions that take a variable number of
# keyword arguments, as well
def keyword_args(**kwargs):
    return kwargs

# keyword arguments are saved in a dict
keyword_args(big="foot", loch="ness")  # => {"big": "foot", "loch": "ness"}

In [ ]:
# extracting the kwarguments from the dict and defining them as variables

def function(**kwargs):

    for key, value in kwargs.items():
        if key == 'transcripts':
            raw_transcripts = kwargs[key]
        if key == 'intents':
            intents = kwargs[key]
        if key == 'sem_sigs':
            sem_sigs = kwargs[key]
        if key == 'entities':
            entities = kwargs[key]
        if key == 'canonicals':
            canonicals = kwargs[key]

When writing a function, you can define a default value for each parameter. If an argument for a parameter is provided in the function call, Python uses the argument value. If not, it uses the parameter’s default value.

In [ ]:
# You can do both at once, if you like
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)
"""
all_the_args(1, 2, a=3, b=4) prints:
    (1, 2)
    {"a": 3, "b": 4}
"""

In [ ]:
# anonymous functions
(lambda x: x > 2)(3) #True

# There are built-in higher order functions
# first class functions
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_10 = create_adder(10)
add_10(3) # 13

# When calling functions, you can do the opposite of args/kwargs!
# Use * to expand tuples and use ** to expand kwargs.
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}
all_the_args(*args)            # equivalent to all_the_args(1, 2, 3, 4)
all_the_args(**kwargs)         # equivalent to all_the_args(a=3, b=4)
all_the_args(*args, **kwargs)  # equivalent to all_the_args(1, 2, 3, 4, a=3, b=4)

# Returning multiple values (with tuple assignments)
def swap(x, y):
    return y, x  # Return multiple values as a tuple without the parenthesis.
                 # (Note: parenthesis have been excluded but can be included)

x = 1
y = 2
x, y = swap(x, y)     # => x = 2, y = 1
# (x, y) = swap(x,y)  # Again parenthesis have been excluded but can be included.

# Function Scope
x = 5

def set_x(num):
    # Local var x not the same as global variable x
    x = num    # => 43
    print(x)   # => 43

def set_global_x(num):
    global x
    print(x)   # => 5
    x = num    # global var x is now set to 6
    print(x)   # => 6

set_x(43)
set_global_x(6)


# Python has first class functions
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_10 = create_adder(10)
add_10(3)   # => 13

# There are also anonymous functions
(lambda x: x > 2)(3)                  # => True
(lambda x, y: x ** 2 + y ** 2)(2, 1)  # => 5

# There are built-in higher order functions
list(map(add_10, [1, 2, 3]))          # => [11, 12, 13]
list(map(max, [1, 2, 3], [4, 2, 1]))  # => [4, 2, 3]

list(filter(lambda x: x > 5, [3, 4, 5, 6, 7]))  # => [6, 7]

# We can use list comprehensions for nice maps and filters
# List comprehension stores the output as a list which can itself be a nested list
[add_10(i) for i in [1, 2, 3]]         # => [11, 12, 13]
[x for x in [3, 4, 5, 6, 7] if x > 5]  # => [6, 7]

# You can construct set and dict comprehensions as well.
{x for x in 'abcddeef' if x not in 'abc'}  # => {'d', 'e', 'f'}
{x: x**2 for x in range(5)}  # => {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## 5. Modules

The Python standard library is a set of modules included with every Python installation. You can start to use modules like these that other programmers have written.

In [ ]:
# You can import modules
import math
print(math.sqrt(16))  # => 4.0

# You can get specific functions from a module
from math import ceil, floor
print(ceil(3.7))   # => 4.0
print(floor(3.7))  # => 3.0

# You can import all functions from a module.
# Warning: this is not recommended
from math import *

# You can shorten module names
import math as m
math.sqrt(16) == m.sqrt(16)  # => True

# Python modules are just ordinary Python files. You
# can write your own, and import them. The name of the
# module is the same as the name of the file.

# You can find out which functions and attributes
# are defined in a module.
import math
dir(math)

# If you have a Python script named math.py in the same
# folder as your current script, the file math.py will
# be loaded instead of the built-in Python module.
# This happens because the local folder has priority
# over Python's built-in libraries.

## 6. Classes

In object-oriented programming you write classes that represent real-world things and situations, and you create objects based on these classes. When you write a class, you define the general behavior that a whole category of objects can have.

When you create individual objects from the class, each object is automatically equipped with the general behavior; you can then give each object whatever unique traits you desire.

Making an object from a class is called *instantiation*, and you work with *instances* of a class.

In [17]:
class Dog():
  """A simple attempt to model a dog."""

  # a class attribute is shared by all instances of this class
  species = 'brutus'
  
  def __init__(self, name, age):
    """Initialize name and age attributes."""
    self.name = name
    self.age = age
    
  def sit(self):
    """Simulate a dog sitting in response to a command."""
    print(self.name.title() + " is now sitting.")
  
  def roll_over(self):
    """Simulate rolling over in response to a command."""
    print(self.name.title() + " rolled over!")
  
  @staticmethod
  def bark():
    print('Woow.')
  
  @classmethod
  def drool(cls):
      return cls.species

A function that’s part of a class is a method.  The \__init__() method is a special method Python runs automatically whenever we create a new instance based on a class.

Any variable prefixed with self is available to every method in the class, and we’ll also be able to access these variables through any instance created from the class. self.name = name takes the value stored in the parameter name and stores it in the variable name, which is then attached to the instance being created. 

Variables that are accessible through instances are called attributes.

In [3]:
my_dog = Dog('willie', 6)
my_dog.name

'willie'

In [5]:
# methods are functions bound to the instance of a class
# are also called instance methods
my_dog.roll_over()

Willie rolled over!

In [9]:
# we cannot use this method without istantiating an object from the class
# it need the self argument
Dog.roll_over()

TypeError: ignored

In [11]:
# but it works for a staticmethod
Dog.bark()

Woow.

In [14]:
# class atributes are not bound to specific instances
Dog.species

'brutus'

In [18]:
# just like class methods
Dog.drool()

'brutus'

In [ ]:
# see more detailed explanations here https://julien.danjou.info/guide-python-static-class-abstract-methods/

If the class you’re writing is a specialized version of another class you wrote, you can use inheritance. When one class inherits from another, it automatically takes on all the attributes and methods of the first class. The original class is called the parent class, and the new class is the child class. The child class inherits every attribute and method from its parent class but is also free to define new attributes and methods of its own.

In [27]:
class Car():
  """A simple attempt to represent a car."""
  
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
    self.odometer_reading = 0
  
  def get_descriptive_name(self):
    long_name = str(self.year) + ' ' + self.make + ' ' + self.model
    return long_name.title()
  
  def read_odometer(self):
    print("This car has " + str(self.odometer_reading) + " miles on it.")
    
  def update_odometer(self, mileage):
    if mileage >= self.odometer_reading:
      self.odometer_reading = mileage
    else:
      print("You can't roll back an odometer!")
  
  def increment_odometer(self, miles):
    self.odometer_reading += miles

class ElectricCar(Car):
  """Represent aspects of a car, specific to electric vehicles."""
  
  def __init__(self, make, model, year):
    """        Initialize attributes of the parent class.
    Then initialize attributes specific to an electric car. """
    super().__init__(make, model, year)
    self.battery_size = 70
   
  def describe_battery(self):
   """Print a statement describing the battery size."""
   print("This car has a " + str(self.battery_size) + "-kWh battery.")

The super() function is a special function that helps Python make connections between the parent and child class.

In [28]:
 shitty_tesla = ElectricCar('tesla', 'model s', 2016)
 print(shitty_tesla.get_descriptive_name())

2016 Tesla Model S

In [29]:
shitty_tesla.describe_battery()

This car has a 70-kWh battery.

You can override any method from the parent class that doesn’t fit what you’re trying to model with the child class. To do this, you define a method in the child class with the same name as the method you want to override in the parent class.

A single class can also inherit from several classes:

In [ ]:
# Another class definition
# bat.py
class Bat:

    species = 'Baty'

    def __init__(self, can_fly=True):
        self.fly = can_fly

    # This class also has a say method
    def say(self, msg):
        msg = '... ... ...'
        return msg

    # And its own method as well
    def sonar(self):
        return '))) ... ((('

if __name__ == '__main__':
    b = Bat()
    print(b.say('hello'))
    print(b.fly)


# And yet another class definition that inherits from Superhero and Bat
# superhero.py
from superhero import Superhero
from bat import Bat

# Define Batman as a child that inherits from both Superhero and Bat
class Batman(Superhero, Bat):

    def __init__(self, *args, **kwargs):
        # Typically to inherit attributes you have to call super:
        # super(Batman, self).__init__(*args, **kwargs)      
        # However we are dealing with multiple inheritance here, and super()
        # only works with the next base class in the MRO list.
        # So instead we explicitly call __init__ for all ancestors.
        # The use of *args and **kwargs allows for a clean way to pass arguments,
        # with each parent "peeling a layer of the onion".
        Superhero.__init__(self, 'anonymous', movie=True, 
                           superpowers=['Wealthy'], *args, **kwargs)
        Bat.__init__(self, *args, can_fly=False, **kwargs)
        # override the value for the name attribute
        self.name = 'Sad Affleck'

    def sing(self):
        return 'nan nan nan nan nan batman!'


if __name__ == '__main__':
    sup = Batman()

    # Get the Method Resolution search Order used by both getattr() and super().
    # This attribute is dynamic and can be updated
    print(Batman.__mro__)       # => (<class '__main__.Batman'>, 
                                # => <class 'superhero.Superhero'>, 
                                # => <class 'human.Human'>, 
                                # => <class 'bat.Bat'>, <class 'object'>)

    # Calls parent method but uses its own class attribute
    print(sup.get_species())    # => Superhuman

    # Calls overridden method
    print(sup.sing())           # => nan nan nan nan nan batman!

    # Calls method from Human, because inheritance order matters
    sup.say('I agree')          # => Sad Affleck: I agree

    # Call method that exists only in 2nd ancestor
    print(sup.sonar())          # => ))) ... (((

    # Inherited class attribute
    sup.age = 100
    print(sup.age)              # => 100

    # Inherited attribute from 2nd ancestor whose default value was overridden.
    print('Can I fly? ' + str(sup.fly)) # => Can I fly? False

Class names should be written in CamelCaps. To do this, capitalize the f irst letter of each word in the name, and don’t use underscores. Instance and module names should be written in lowercase with underscores between words.

Every class should have a docstring immediately following the class definition. The docstring should be a brief description of what the class does, and you should follow the same formatting conventions you used for writing docstrings in functions. Each module should also have a docstring describing what the classes in a module can be used for. You can use blank lines to organize code, but don’t use them excessively. Within a class you can use one blank line between methods, and within a module you can use two blank lines to separate classes.

## 7. Advanced

In [ ]:
# Generators help you make lazy code.
def double_numbers(iterable):
    for i in iterable:
        yield i + i

# Generators are memory-efficient because they only load the data needed to
# process the next value in the iterable. This allows them to perform
# operations on otherwise prohibitively large value ranges.
# NOTE: `range` replaces `xrange` in Python 3.
for i in double_numbers(range(1, 900000000)):  # `range` is a generator.
    print(i)
    if i >= 30:
        break

# Just as you can create a list comprehension, you can create generator
# comprehensions as well.
values = (-x for x in [1,2,3,4,5])
for x in values:
    print(x)  # prints -1 -2 -3 -4 -5 to console/terminal

# You can also cast a generator comprehension directly to a list.
values = (-x for x in [1,2,3,4,5])
gen_to_list = list(values)
print(gen_to_list)  # => [-1, -2, -3, -4, -5]


# Decorators
# In this example `beg` wraps `say`. If say_please is True then it
# will change the returned message.
from functools import wraps


def beg(target_function):
    @wraps(target_function)
    def wrapper(*args, **kwargs):
        msg, say_please = target_function(*args, **kwargs)
        if say_please:
            return "{} {}".format(msg, "Please! I am poor :(")
        return msg

    return wrapper


@beg
def say(say_please=False):
    msg = "Can you buy me a beer?"
    return msg, say_please


print(say())                 # Can you buy me a beer?
print(say(say_please=True))  # Can you buy me a beer? Please! I am poor :(

# Common use cases

## Common libraries

In [ ]:
import itertools

The sys module provides access to variables and functions related to Python itself and the operating system it is running on. This module also contains a lot of information about Python’s import system.

In [44]:
import sys
sys.modules['os']
sys.modules.keys()
sys.builtin_module_names

('_abc',
 '_ast',
 '_bisect',
 '_blake2',
 '_codecs',
 '_collections',
 '_csv',
 '_datetime',
 '_elementtree',
 '_functools',
 '_heapq',
 '_imp',
 '_io',
 '_locale',
 '_md5',
 '_operator',
 '_pickle',
 '_posixsubprocess',
 '_random',
 '_sha1',
 '_sha256',
 '_sha3',
 '_sha512',
 '_signal',
 '_socket',
 '_sre',
 '_stat',
 '_statistics',
 '_string',
 '_struct',
 '_symtable',
 '_thread',
 '_tracemalloc',
 '_warnings',
 '_weakref',
 'array',
 'atexit',
 'binascii',
 'builtins',
 'cmath',
 'errno',
 'faulthandler',
 'fcntl',
 'gc',
 'grp',
 'itertools',
 'marshal',
 'math',
 'posix',
 'pwd',
 'pyexpat',
 'select',
 'spwd',
 'sys',
 'syslog',
 'time',
 'unicodedata',
 'xxsubtype',
 'zlib')

To check which paths your interpreter will search for modules, just enter:

In [45]:
sys.path

['/content',
 '/env/python',
 '/usr/lib/python38.zip',
 '/usr/lib/python3.8',
 '/usr/lib/python3.8/lib-dynload',
 '',
 '/usr/local/lib/python3.8/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.8/dist-packages/IPython/extensions',
 '/root/.ipython']

In [ ]:
sys.path.append('/foo/bar')

Adding paths to the sys.path variable can be useful if you want to install Python modules to nonstandard locations, such as a test environment.

It’s important to note that the list will be iterated over to find the requested module, so the order of the paths in sys.path is important. It’s useful to put the path most likely to contain the modules you are importing early in the list to speed up search time. Doing so also ensures that if two modules with the same name are available, the first match will be picked

In [46]:
import os

Whenever you’re tempted to write your own function to handle a simple task, first stop and look through the standard library. In fact, skim through the whole thing at least once.

## Reading from and writing to files

In [ ]:
# line by line, file paths

Dump data as JSON file:

In [30]:
import json

numbers = [2, 3, 5, 7, 11, 13]

filename = 'numbers.json'

with open(filename, 'w') as f:
  json.dump(numbers, f)

In [31]:
with open(filename) as f:
  numbers_2 = json.load(f)

In [32]:
print(numbers_2)

[2, 3, 5, 7, 11, 13]

## Testing code

The module unittest (previously called PyUnit) from the Python standard library provides tools for testing your code. A unit test verifies that one specific aspect of a function’s behavior is correct.

A test case is a collection of unit tests that together prove that a function behaves as it’s supposed to, within the full range of situations you expect it to handle.

A good test case considers all the possible kinds of input a function could receive and includes tests to represent each of these situations. A test case with full coverage includes a full range of unit tests covering all the possible ways you can use a function.

To write a test case for a function, import the unittest module and the function you want to test. Then create a class that inherits from unittest.TestCase, and write a series of methods to test different aspects of your function’s behavior.

In [33]:
def add(x, y):
  return x+y

In [34]:
add(3,4)

7

In [ ]:
import unittest

class AdditionTestCase(unittest.TestCase):
  """Tests for 'add.py'."""
  
  def test_add(self):
    """Do integers work?"""
    sum = add(5, 6)
    self.assertEqual(sum, 10)

unittest.main()

Python provides a number of assert methods in the unittest.TestCase class.

![image.png]()

Testing a class is similar to testing a function—much of your work involves testing the behavior of the methods in the class. But there are a few differences:

In [40]:
class Car():
  """A simple attempt to represent a car."""
  
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
    self.odometer_reading = 0
  
  def get_descriptive_name(self):
    long_name = str(self.year) + ' ' + self.make + ' ' + self.model
    return long_name.title()
  
  def read_odometer(self):
    print("This car has " + str(self.odometer_reading) + " miles on it.")
    
  def update_odometer(self, mileage):
    if mileage >= self.odometer_reading:
      self.odometer_reading = mileage
    else:
      print("You can't roll back an odometer!")
  
  def increment_odometer(self, miles):
    self.odometer_reading += miles

To test the behavior of a class, we need to make an instance of the class.

In [ ]:
import unittest
from car import Car

class TestCar(unittest.TestCase):
  """Tests for the class Car"""
  def test_get_descriptive_name(self):
    """Test that a descriptive name is formatted properly."""
    make = "Tesla"
    model = "X"
    year = "2017"
    
    car = Car(make, model, year)
    descriptive_name = car.get_descriptive_name()
    
    self.assertIn(descriptive_name, car.get_descriptive_name())

unittest.main()

The unittest.TestCase class has a setUp() method that allows you to create test objects including variables once and then use them in each of the following test methods.

In [ ]:
import unittest
from car import Car

class TestCar(unittest.TestCase):
  """Tests for the class Car"""

  def setUp(self):
    make = "Tesla"
    model = "X"
    year = "2017"
    self.my_car = Car(make, model, year)


  def test_get_descriptive_name(self):
    """Test that a descriptive name is formatted properly."""
    
    descriptive_name = self.my_car.get_descriptive_name()
    
    self.assertIn(descriptive_name, self.my_car.get_descriptive_name())

unittest.main()

An alternative framework for unit testing in Python is *Pytest*. Pytest supports unittest.TestCase class from the beginning.

All behaviors thought during writing tests with unittest (e.g.: writing assertions) remain the same, which gives extremely smooth transition to a new framework. Additionally, most unittest features work too, so pytest executor can run old tests as well (subtests are, however, not supported).

https://blog.j-labs.pl/2019/02/Pytest-why-its-more-popular-than-unittest

In [ ]:
import pytest
import unittest


class ClassTest(unittest.TestCase):

     @pytest.mark.xfail
     def test_feature_a(self):
        self.assertEqual(2, 3)

     def test_feature_b(self):
        self.assertTrue(True)

In [ ]:
# to execute a test script, tun
!pytest my_unittest_tests.py

Pytest comes with a possibility to run tests parallelly by multiple processes using pytest-xdist.

In [ ]:
!pip install pytest-xdist

In [ ]:
# start a test script with several processes
pytest test_class.py -n 6

You can run parameterized tests:

In [ ]:
!pip install parameterized

In [ ]:
import requests
import unittest
from parameterized import parameterized


class TestRepositories(unittest.TestCase):

    @parameterized.expand(['autorepr', 'django-nose', 'chai-subset'])
    def test_repos_existence_in_wolever_profile(self, repo):
        api_url = 'https://api.github.com/users/wolever/repos'
        response = requests.get().json(api_url)
        self.assertIn(repo, [item['name'] for item in response])